<!-- <div class="container" style="min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="w-full max-w-md">
      <form [formGroup]="myForm" (ngSubmit)="Login()" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
          <input type="text" name="email" formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" [(ngModel)]="user.email">
        </div>
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
          <small *ngIf="myForm.get('email')?.errors?.required">Email is required.</small>
          <small *ngIf="myForm.get('email').errors.email">Invalid email address.</small>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <input type="password" name="password" formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" [(ngModel)]="user.password">
        </div>
        <div *ngIf="myForm.get('password').invalid && myForm.get('password').touched">
          <small *ngIf="myForm.get('password').errors.required">Password is required.</small>
          <small *ngIf="myForm.get('password').errors.minlength">Password must be at least 6 characters long.</small>
        </div>
        <div class="flex items-center justify-between">
          <button [disabled]="myForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>


   -->


   <div class="container" style="min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="w-full max-w-md">
      <form [formGroup]="myForm" (ngSubmit)="Login()" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
          <input type="text" id="email" formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
            <small *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="myForm.get('email')?.errors?.['email']">Invalid email address.</small>
          </div>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <input type="password" id="password" formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
          <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
            <small *ngIf="myForm.get('password')?.errors?.['required']">Password is required.</small>
            <small *ngIf="myForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
  
  